<div class="row m-5 d-flex justify-content-center">
  <div class="col-10 d-flex justify-content-center">
      <input type="text" [(ngModel)]="todo" class="form-control" />
      <button class="btn btn-warning w-25 ml-2" (click)="addWork()">Add</button>
  </div>
  
</div>
<ul id="items" class="list-group my-4 col-md-8">
  <li class="list-group-item" *ngFor="let todo of Works;let i=index">
      <input type="checkbox" (click)="changestyle(i)">
    <span style="margin-left:150px;
    " id="work" [ngClass]="todo.isDone?'done':''"> {{todo.todo}}</span>
    <i class="far fa-trash-alt float-right text-danger" (click)="deleteWork(i)"></i>
  </li>
</ul>
