<app-newheader></app-newheader>
<div class="card m-5">
        <div class="card-header bg-white shadow">
                <h2 class="text-center">Add Student</h2>
        </div>
        <div class="card-body bg-white shadow p-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="studentName">
                </div>
                <div class="col-md-1">
                    <input type="button" *ngIf="selectedStudent===null" value="save" class="btn btn-success" (click)=AddStudent()>
                    <input type="button" *ngIf="selectedStudent!==null" value="Update" class="btn btn-success" (click)=UpdateStudent()>
                </div>
            </div>
        </div>
</div>
    <table class="table">
        <tr *ngFor="let s of students;let i = index">
            <td>{{s}}</td>
            <td><button class="btn btn-warning" (click)=selectStudent(i)>Update</button></td>
            <td><button class="btn btn-danger"  (click)=deleteStudent(i)>Delete</button></td>
        </tr> 
    </table>

