<div class="row">
  <div class="col-md-3">
    
  </div>
  <div class="col-md-9">
      <table class="table table-hover">     
            <tr>
            
              <td>ID</td>
              <td>:</td>
              <td>1</td>
            </tr> 
            <tr>
                <td>FirstName</td>
                <td>:</td>
                <td>Sagar</td>
              </tr> 
              <tr>
                  <td>LastName</td>
                  <td>:</td>
                  <td>Pankhaniya</td>
                </tr> 
        </table>    
        
  </div>
</div>
