<div class="card-detail" *ngFor="let u of GitUsers">
  <div class="img-container">
    <img alt="Avatar" src="{{ u.avatar_url }}" />
  </div>
  <div class="card-names">
    <span class="name">{{ u.name }}</span>
    <span class="username">{{ u.login }}</span>
  </div>
  <div class="profile">
    <div class="profile-bio mb-3">
      <span>{{ u.bio }}</span>
    </div>
    <div class="profile-followers">
      <div class="flex-order-1 flex-md-order-none mt-2 mt-md-0">
        <div class="mb-3">
          <a
            class="Link--secondary no-underline no-wrap"
            href="https://github.com/yashvantvala?tab=followers"
            target="blank"
          >
            <span class="text-bold color-text-primary">{{u.followers}}</span>
            followers
          </a>
          ·
          <a
            class="Link--secondary no-underline no-wrap"
            href="https://github.com/yashvantvala?tab=following"
            target="blank"
          >
            <span class="text-bold color-text-primary">{{u.following}}</span>
            following
          </a>
          ·
          <a
            class="Link--secondary no-underline no-wrap"
            href="https://github.com/yashvantvala?tab=stars"
          >
           
            <span class="text-bold color-text-primary"></span>
          </a>
        </div>
      </div>

    </div>
    <div class="profile-details">
      <ul>
        <li><i class="fa fa-map-marker mr-2"></i>{{u.location}}</li>
        <li><i class="fa fa-link mr-1"></i><a href="{{ u.blog }}" target="blank">{{ u.blog }}</a></li>
        <li><i class="fa fa-twitter mr-1"></i><a href="https://twitter.com/{{ u.twitter_username }}" target="blank">@{{u.twitter_username}}</a></li>
      </ul>
    </div>
  </div>
</div>
