<div style="margin-left:150px" *ngFor="let u of GitUsers">
        <img
          style="height:auto;width:300px;border-radius: 50%;"
          alt="Avatar"
          class="avatar avatar-user width-full border color-bg-primary"
          src="{{ u.avatar_url }}"
        />
        <h1 class="vcard-names" style="margin-top:15px">
          <span
            class="p-name vcard-fullname d-block overflow-hidden"
            style="font-size: 26px;
            line-height: 1.25"
            itemprop="name"
          >
            {{ u.name }}
          </span>
          <span
            class="p-nickname vcard-username d-block"
            style="font-weight: 300;font-size: 20px"
            itemprop="additionalName"
          >
            {{ u.login }}
          </span>
        </h1>
        <a class="btn btn-block btn-light mt-3">Follow</a>
        <div class="row">
          <span style="font-size:16px" class="mb-3">{{ u.bio }}</span>
          <i class="fa fa-user mr-1" aria-hidden="true"></i
          ><span class="text-bold color-text-primary mr-1" style="font-weight: 600">{{
            u.followers
          }}</span
          >followers<span class="ml-2 mr-1" style="font-weight: 600">{{
            u.following
          }}</span
          >following
        </div>
        <div style="margin-top:16px">
          <ul style="list-style-type: none;padding-left: 0">
            <li><i class="fa fa-map-marker mr-1"></i>{{u.location}}</li>
            <li><i class="fas fa-link mr-1"></i>{{u.blog}}</li>
            <li><i class="fab fa-twitter mr-1"></i>{{u.twitter_username}}</li>
          </ul>
        </div>
        <span style="margin-top:8px;font-size: 14px"> Block or Report</span>
      </div>
      
